
@media screen and (min-width: 992px) {

    .page-title{
        text-align: center;
        font-weight: bold;
        font-family: "Tahoma";
        font-size: xx-large;
    }
    .row{
        box-sizing:border-box;
        margin-top: 5%;
        background-color: red;
    }
    .col-md-3-1st{
        position: relative;
        box-sizing: border-box;
        float: left;
        left: 25px;
        margin-left: 25px;
        background-color: lightsteelblue;
        border: solid 1px;
        border-color: black;
        width: 30%;
        height: 200px;
        overflow:hidden;
    }
    .col-md-3-2nd{
        position: relative;
        box-sizing: border-box;
        float: left;
        left: 25px;
        margin-left: 25px;
        background-color: lightsteelblue;
        border: solid 1px;
        border-color: black;
        width: 30%;
        height: 200px;
        overflow:hidden;
    }
    .col-md-3-3nd{
        position: relative;
        box-sizing: border-box;
        float: left;
        left: 25px;
        margin-left: 25px;
        background-color: lightsteelblue;
        border: solid 1px;
        border-color: black;
        width: 30%;
        height: 200px;
        overflow:hidden;
    }

    .col-md-3-fh{
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
        height: 60px;
        background-color: cadetblue;
        border: solid 1px;
        border-color: black;
    }
    .col-md-3-sh{
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
        height: 60px;
        background-color: aliceblue;
        border: solid 1px;
        border-color: black;
    }
    .col-md-3-th{
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
        height: 60px;
        background-color:cornflowerblue;
        border: solid 1px;
        border-color: black;
    }
    .col-md-3-fh-p{
        position: relative;
        font-family: "Tahoma";
        font-size: 20px;
        text-align: center;
    }
    .text-box{
        font-size: 14px;
        font-family: Tahoma;
        position: relative;
        left: 0;
        top: 65px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width:991px) {

    .page-title{
        text-align: center;
        font-weight: bold;
        font-family: "Tahoma";
        font-size: xx-large;
    }

    .row{
        padding: 0;
        box-sizing:border-box;
        margin-top: 5%;
    }

    .col-md-3-1st{
        position: relative;
        box-sizing: border-box;
        float: left;
        left: 25px;
        margin-left: 25px;
        background-color: lightsteelblue;
        border: solid 1px;
        border-color: black;
        width: 45%;
        height: 200px;
        overflow:hidden;
    }
    .col-md-3-2nd{
        position: relative;
        box-sizing: border-box;
        float: left;
        left: 25px;
        margin-left: 25px;
        background-color: lightsteelblue;
        border: solid 1px;
        border-color: black;
        width: 45%;
        height: 200px;
        overflow:hidden;
    }
    .col-md-3-3nd{
        position: relative;
        box-sizing: border-box;
        float: bottom;
        left: 25px;
        margin-left: 25px;
        background-color: lightsteelblue;
        border: solid 1px;
        border-color: black;
        width: 93%;
        top: 20px;
        height: 200px;
        overflow:hidden;
    }

    .col-md-3-fh{
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
        height: 60px;
        background-color: cadetblue;
        border: solid 1px;
        border-color: black;
    }

    .col-md-3-sh{
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
        height: 60px;
        background-color: aliceblue;
        border: solid 1px;
        border-color: black;
    }

    .col-md-3-th{
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
        height: 60px;
        background-color:cornflowerblue;
        border: solid 1px;
        border-color: black;
    }

    .text-box{
        font-size: 14px;
        font-family: Tahoma;
        position: relative;
        left: 0;
        top: 65px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .col-md-3-fh-p{
        position: relative;
        font-family: "Tahoma";
        font-size: 20px;
        text-align: center;
    }

}

@media screen and (max-width:767px) {

    .page-title{
        text-align: center;
        font-weight: bold;
        font-family: "Tahoma";
        font-size: xx-large;
    }

    .row{
        padding: 0;
        box-sizing:border-box;
        margin-top: 5%;
    }

    .col-md-3-1st{
        position: relative;
        box-sizing: border-box;
        float: bottom;
        left: 25px;
        margin-left: 25px;
        margin-top: 10px;
        background-color: lightsteelblue;
        border: solid 1px;
        border-color: black;
        width: 93%;
        height: 200px;
        overflow:hidden;
    }
    .col-md-3-2nd{
        position: relative;
        box-sizing: border-box;
        float: bottom;
        left: 25px;
        margin-top: 10px;
        margin-left: 25px;
        background-color: lightsteelblue;
        border: solid 1px;
        border-color: black;
        width: 93%;
        height: 200px;
        overflow:hidden;
    }
    .col-md-3-3nd{
        position: relative;
        box-sizing: border-box;
        float: bottom;
        left: 25px;
        margin-left: 25px;
        background-color: lightsteelblue;
        border: solid 1px;
        border-color: black;
        width: 93%;
        margin-top: 10px;
        height: 200px;
        overflow:hidden;
    }

    .col-md-3-fh{
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
        height: 60px;
        background-color: cadetblue;
        border: solid 1px;
        border-color: black;
    }

    .col-md-3-sh{
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
        height: 60px;
        background-color: aliceblue;
        border: solid 1px;
        border-color: black;
    }

    .col-md-3-th{
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
        height: 60px;
        background-color:cornflowerblue;
        border: solid 1px;
        border-color: black;
    }

    .text-box{
        font-size: 14px;
        font-family: Tahoma;
        position: relative;
        left: 0;
        top: 65px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .col-md-3-fh-p{
        position: relative;
        font-family: "Tahoma";
        font-size: 20px;
        text-align: center;
    }


}


